{{! Put your menu content here or make this file empty in order to remove the menu }}
<nav class="menu">
	<div class="menu__wrap">
		<a href="/" class="menu__item menu__item--active">Home</a>
		<a href="/about" class="menu__item">About</a>
		<a href="/tag/PortraitAndPeople" class="menu__item">Portrait and People</a>
		<a href="/tag/Landscape" class="menu__item">Landscape</a>
		<a href="/impress" class="menu__item">Impress</a>
	</div>
</nav>